@page
@model KTTTS.Pages.AdminPage
@{
    ViewData["Title"] = "Admin Page";
}
<meta http-equiv="refresh" content="10">
<div class="text-center">
    <h1 class="display-4">Admin access only</h1>
</div>